<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718781341673-4dk43iqaig0qrgsemkk9c4sd0rmcn2ee.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718781341673-4dk43iqaig0qrgsemkk9c4sd0rmcn2ee</string>
	<key>API_KEY</key>
	<string>AIzaSyCmmg9eo0sFE8vyKAKVwtw32DmXkn4qc1A</string>
	<key>GCM_SENDER_ID</key>
	<string>718781341673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>au.com.traind.traindFlutter</string>
	<key>PROJECT_ID</key>
	<string>traind-01</string>
	<key>STORAGE_BUCKET</key>
	<string>traind-01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718781341673:ios:3601baa95b4a4ab1</string>
	<key>DATABASE_URL</key>
	<string>https://traind-01.firebaseio.com</string>
</dict>
</plist>